USE [master]
GO
/****** Object:  Database [TinNQSP23]    Script Date: 2/9/2023 7:55:51 PM ******/
CREATE DATABASE [TinNQSP23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'javaweb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\javaweb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'javaweb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\javaweb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TinNQSP23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TinNQSP23]
GO
/****** Object:  Table [dbo].[registration]    Script Date: 2/9/2023 7:55:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registration](
	[username] [varchar](20) NULL,
	[password] [varchar](20) NULL,
	[lastname] [varchar](20) NULL,
	[isAdmin] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[registration] ([username], [password], [lastname], [isAdmin]) VALUES (N'quoctin', N'12345', N'tin', 1)
INSERT [dbo].[registration] ([username], [password], [lastname], [isAdmin]) VALUES (N'nva', N'23456', N'a', 0)
INSERT [dbo].[registration] ([username], [password], [lastname], [isAdmin]) VALUES (N'nvb', N'12356', N'b', 0)
GO
USE [master]
GO
